* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("../images/contact-bg.jpg");
  background-size: cover;
}

.contact a span {
  position: absolute;
  font-size: 16px;
  left: 15px;
  top: 15px;
  color: rgb(240, 176, 40);
}

.contact .content {
  max-width: 800px;
  text-align: center;
}

.contact .content h2 {
  font-size: 55px;
  font-weight: 600;
  color: rgb(240, 176, 40);
  margin-bottom: 10px;
  letter-spacing: 1.5px;
}

.contact .content p {
  font-size: 18px;
  font-weight: 500;
  color: whitesmoke;
  margin-bottom: 15px;
}

.container {
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  margin-top: 30px;
}

.container .contact-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.container .contact-info .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.container .contact-info .box .icon {
  max-width: 60px;
  height: 60px;
  background-color: rgb(240, 176, 40);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.container .contact-info .box .text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 20px;
  color: whitesmoke;
}

.container .contact-info .box .text h3 {
  font-weight: 500;
  color: rgb(240, 176, 40);
}

.contact-form {
  width: 40%;
  padding: 40px;
  background: rgba(41, 39, 39, 0.664);
}

.contact-form h2 {
  font-size: 30px;
  font-weight: 500;
  color: rgb(240, 176, 40);
  text-align: center;
}

.contact-form .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .inputBox input,
.contact-form .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  resize: none;
}

.contact-form .inputBox span {
  position: absolute;
  left: 0;
  color: black;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
}

.contact-form .inputBox input:focus ~ span,
.contact-form .inputBox input:valid ~ span,
.contact-form .inputBox textarea:focus ~ span,
.contact-form .inputBox textarea:valid ~ span {
  color: rgb(240, 176, 40);
  font-size: 15px;
  transform: translateY(-25px);
}

.contact-form .inputBox input[type="submit"] {
  width: 100px;
  background: rgb(240, 176, 40);
  color: black;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }
  .container {
    flex-direction: column;
  }
  .container .contact-info {
    margin-bottom: 40px;
  }
  .container .contact-info,
  .contact-form {
    width: 100%;
  }
}
